name: Restrict main merges

on:
  pull_request:
    branches:
      - main

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Ensure PR comes from develop
        run: |
          if [ "${{ github.head_ref }}" != "develop" ]; then
            echo "Only develop can be merged into main."
            exit 1
          fi
